<div class="container">
  <h1>GitHub_Search</h1>
  <form class="form">
    <label for="name">Enter a username</label><br>
    <input type="text" id="name" class="form-control" [(ngModel)]="userName" name = "userName" placeholder="Username">
    <button class="btn btn-primary" (click)="getData($event)">Search</button>
  </form>
  <div class="row">
    <div class="col-md-6">
      <img src="{{user.avatar_url}}">
    </div>
    <div class="col-md-6">
      <div [hidden]="show" class="card bg-danger">
        <p>Name: {{user.name}}</p>
        <p>ID: {{user.id}}</p>
        <p>Number of followers: {{user.followers}}</p>
        <p>Number of public repositories: {{user.public_repos}}</p>
        <p>Date created: {{user.created_at|date}}</p>
      </div>
    </div>
  </div>
  <div class="repo">
    <button [hidden]="show" class="btn btn-primary" (click)="getRepos($event)">View Repos</button>
    <div [hidden]="show" class="card bg-danger">
      <ul *ngFor="let repo of repos">
        <div class="list">
          <h2 class="header">{{repo.name}}</h2>
          <p>{{repo.description}}</p>
        </div>
      </ul>
    </div>
  </div>
</div>

