h1{
  text-align: center;
}

.form{
  text-align: center;
  padding: 2rem;
}

.form-control{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card{
  padding: 1rem;
}

.header{
  font-size:x-large;
}

.list {
  margin:2rem;
}

.repo{
  text-align: center;
  margin: 2rem;
}

.btn{
  margin:2rem;
}